<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

</head>

<body>
    <nav>
        <a href="/api/projectslist">projects</a>
        <a href="/api/projectform">create</a>
        {{#if user}}
        <div class="user">
            {{user}}
        </div>
        <a href="/api/logout">logout</a>
        {{else}}
        <a href="/api/login">login</a>
        {{/if}}
        <a href="/api/status">status</a>
    </nav>
    <form action="/api/project" enctype="multipart/form-data" method="post">
        <input placeholder="name" type="text" name="title">
        <label for="desc">description</label>
        <textarea id="desc" name="description" cols="30" rows="10"></textarea>
        <input placeholder="homepage" type="url" name="homepage">
        <input placeholder="repo" type="url" name="repository">
        <input placeholder="tech stack seperated by ," type="text" name="technologies">
        <input placeholder="priority" type="number" name="priority">
        <label for="image">images</label>
        <input id="image" type="file" name="images" multiple>
        <input type="submit" value="send">
    </form>
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>

</html>