<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/api/static/css/main.css">

</head>

<body>
    <nav>
        <a href="/api/projectslist">projects</a>
        <a href="/api/projectform">create</a>
        {{#if user}}
        <div class="user">
            {{user}}
        </div>
        <a href="/api/logout">logout</a>
        {{else}}
        <a href="/api/login">login</a>
        {{/if}}
        <a href="/api/status">status</a>
    </nav>
    <main>
        {{#if projects}}
        {{#each projects}}
        <div class="projectItem">
            <img src="/api/static/{{this.images.[0]}}" alt="thumbnail">
            <strong>{{this.name}}</strong>
            <p>{{this.priority}}</p>
        </div>
        {{/each}}
        {{else}}
        <div class="nothingFound">nothing found</div>
        {{/if}}
    </main>
</body>

</html>